<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779832155191-miq2q0mchh898l7nqi2io1rsue0h8ii0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779832155191-miq2q0mchh898l7nqi2io1rsue0h8ii0</string>
	<key>API_KEY</key>
	<string>AIzaSyCzX8c8KClk5oSVmSelWlEsSNwkbhawZgc</string>
	<key>GCM_SENDER_ID</key>
	<string>779832155191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatBotFirebase</string>
	<key>PROJECT_ID</key>
	<string>chat-bot-firebase-9194d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-bot-firebase-9194d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779832155191:ios:bda689e28cb068d8c2f3b2</string>
</dict>
</plist>